@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.container {
    padding: 0 !important;
}
#header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff5c8d;
}

#logo, #menu, #cart{
    display:flex;
    justify-content: center;
    align-items: center;
}

#main-p1 {
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
}

#productCont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 1400px;
    margin: 0 auto 0 auto;
    background-color: whitesmoke;
}

#tt1 {
    text-decoration: none;
    color: #FF9800;
}

#card1 {
    justify-content: center;
    font-family: 'Muli', sans-serif;
}


#cardText li{
    list-style-type: none;
}


#card_text p{
    font-size: 20px;
}
#buy-btn {
    display: flex;
    justify-content: center;
    
}

#footer{
    height:100px;
    display: flex;
    background-color: blueviolet;
    width: 100%;
}

#about, #logo, #social{
    display:flex;
    justify-content: center;
    align-items: center;
}