
@import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


.container {
    padding: 0 !important;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff5c8d
}

#logo, #menu, #cart{
    display:flex;
    justify-content: center;
    align-items: center;
}

#main{
background-image: url("../img/background.png");
background-size: cover;
}

#products{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 350px;
}

#product1, #product2, #product3, #product4, #product5, #product6{
    height: 530px;
    width: 350px;
    margin: 5px 5px 5px 5px;
    background-color: rgb(221, 217, 255);
}

.product-price,.product-description,.product-headline {
    padding: 0 10px;
}

.product-price p{
    text-align: start;
}

.product-headline h2{
    font-family: 'Libre Baskerville', serif;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#products img{
    height: 350px;
    width: 350px;
}

.product-button{
    width: 100px;
}

#footer{
    height:100px;
    display: flex;
    width: 100%;
}

#about, #logo, #social{
    display:flex;
    justify-content: center;
    align-items: center;
}